run = "python main.py"
language = "python3"
modules = ["python-3.11"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["python", "main.py"]

[[ports]]
localPort = 8000
externalPort = 80

[env]
PYTHONPATH = "/home/runner/$REPL_SLUG"
